body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration:none;
    font-style: normal;
}

li{
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p{
margin-top: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
position: absolute !important;
clip: rect(1px 1px 1px 1px);
clip: rect(1px, 1px, 1px, 1px);
padding: 0 !important;
border: 0 !important;
height: 1px !important;
width: 1px !important;
overflow: hidden;
}

.section-title{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
    
color: #212121;
}

.link:hover,
.link:focus{
    color: #2196F3;
}

.section{
padding-top: 94px;
padding-bottom: 94px;
}

.container{
width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}

/* header */
.top-navigation{
    display: flex;
}

.main-nav{
display: flex;
align-items: center;
}

.logo{
padding-top: 24px;
padding-bottom: 25px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
   
letter-spacing: 0.03em;
    
color: #000000;
}

.span-logo{
color: #2196F3;
}

/* Шапка сайту*/
.menu{
display: block;
padding-top: 32px;
padding-bottom: 32px;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}

.menu-list{
    display: flex;
    margin-left: 93px;
   
}

.menu-item{
    margin-left: 50px;
}

.list-contakts{
    display: flex;
    margin-left: auto;
}

.list-contakts >.item{
    margin-left: 50px;
}

.header-contakt{
display: block;
padding-top: 32px;
padding-bottom: 32px;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}


/* Герой */
.hero{
    background-color:#2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image:linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/hero.png);
    height: 600px;
}

.hero-title{
    margin: 0 auto 30px;
        max-width: 696px;

font-weight: 900;
font-size: 44px;
line-height: 1.36;   
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
    
color: #FFFFFF;

}

.hero-btn{
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;

font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
    
color: #FFFFFF;

background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus{
background-color: #2195f3b9;
}

/* Наші переваги */
.advantages{
padding-top: 94px;
}

.advantages-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.advantages-list >.item{
flex-basis: calc((100% - 90px) / 4);
}

.advantages-title{
font-style: normal;
font-weight: 700;

font-size: 14px;
line-height: 1.14;

letter-spacing: 0.03em;
text-transform: uppercase;
    
color: #212121;
}

.advantages-text{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;

color: #757575;
}

/* Чим ми займаємося  */

.our-works-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.our-works-list >.item{
flex-basis: calc((100% - 60px) / 3);
}


/* Наша команда */

.our-teem{
    background-color: #F5F4FA;
}

.our-teem-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.our-teem-list > .item{
flex-basis: calc((100% - 90px) / 4);
border-radius: 0px 0px 4px 4px;
background: #FFF;
box-shadow:  0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


.our-teem-title{
padding-top: 30px; 
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.18;

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.our-teem-text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.18;

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}

/* Футер */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.span-footer{
color: #FFFFFF;
}

.address{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: #FFFFFF;
}

.footer-contakt{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

/* Портфоліо */
.list-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.list-btn > .item{
    margin-left: 8px;
}


.filter-btn{
padding: 6px 24px;
border: none;

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;

background-color: #F5F4FA;
border-radius: 4px;
color: #212121;
}

.filter-btn:hover,
.filter-btn:focus{
cursor: pointer;
color: white;
background-color: #2196F3;

box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}


.portfolio-list{
display: flex;
flex-wrap: wrap;
gap: 30px;
}

.portfolio-list > .item{
flex-basis: calc((100% - 60px) / 3);
}

.portfolio-list>.item:hover,
.portfolio-list>.item:focus{
border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-title{
margin-top: 20px;
padding-left: 24px;

font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;

color: #212121;
}

.portfolio-text{
padding-left: 24px;

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;

color: #757575;
}

.tex{
    width: 300px;
}